*~
elpa/
eshell/
url/
/plugins/
/*.dat
/.emacs.desktop*

/.org-id-locations
/ede-projects.el
/smex-items
/bookmarks
/emacs.el
/lisp/emacs-eim/
projectile*
/recentf
/tramp
/.mc-lists.el
/#emacs.org#
/ido.last
/transient/history.el
/personal-info.el
/personal-info.org
/eln-cache/
/custom.el
/private.org
/private.el
/dmenu-items
/org-roam.db
